body {
    background-color: #48455f;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "REM", sans-serif;
}
h1 {
    font-family: "Ysabeau SC", sans-serif;
}

a > div:hover {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}
a > div {
    padding: 1rem;
    border-radius: 3rem;
}
